$TTL 3H
@	IN SOA	web02.example.com root.web02.example.com  (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
	NS	@
	A       192.168.56.11
www     A       192.168.56.11
	AAAA	::1
