$TTL 3H
@	IN SOA	wordpress.exmaple.com root.wordpress.example.com  (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
	NS	@
	A       192.168.56.21
www     A       192.168.56.21
	AAAA	::1
